<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de tareas</title>
        <link rel="stylesheet" href="listaTareas.css">
    </head>
    <body>
        <main class="task-list">
            <h1 class="task-list__title">Tareas Pendientes</h1>
            <ul class="task-list__list">
                <li class="task-list__item">
                    <input type="checkbox"> Deberes del Hogar
                    <button class="task-list__button button--delete">X</button>
                </li>
                <li class="task-list__item">
                    <input type="checkbox"> Entrenar Basket
                    <button class="task-list__button button--delete">X</button>
                </li>
                <li class="task-list__item">
                    <input type="checkbox"> Ir al Gym
                    <button class="task-list__button button--delete">X</button>
                </li>
                <li class="task-list__item">
                    <input type="checkbox"> Partido de Basket
                    <button class="task-list__button button--delete">X</button>
                </li>
                <li class="task-list__item">
                    <input type="checkbox"> Partido de Micro
                    <button class="task-list__button button--delete">X</button>
                </li>
            </ul>
        </main>
    </body>
</html>