<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notificacion</title>
        <link rel="stylesheet" href="alerta.css">
    </head>
    <body>
        <main class="main">
            <!-- Botón para abrir la notificación -->
            <a href="#notification" class="main__button">Abrir Notificación</a>

            <!-- Bloque: Notificación -->
            <div class="notification" id="notification">
                <!-- Elemento: Contenido principal de la notificación -->
                <div class="notification__content">
                    <!-- Elemento: Título de la notificación -->
                    <h2 class="notification__title">Notificación Importante</h2>
                    <!-- Elemento: Texto descriptivo -->
                    <p class="notification__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, laboriosam, ad illum alias nam consequuntur reprehenderit earum aliquid ratione aperiam ullam voluptates explicabo ducimus dignissimos voluptas, possimus quas eos beatae.</p>
                    <!-- Elemento: Enlace para cerrar -->
                    <a href="#" class="notification__close">Cerrar</a>
                </div>
            </div>
        </main>
    </body>
</html>